#trip-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--darker-main), var(--dark-main));
    color: var(--lighter-accent);
}

#photo-viewer-container {
    width: 90%;
    margin-top: 25px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#trip-photo {
    width: 100%;
    height: auto;
}

#photo-toolbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker-main);
}

.photo-navigator {
    border: none;
    background-color: var(--darker-main);
    font-size: 2em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lighter-accent);
    animation-name: normal-animation;
    animation-duration: 0.25s;
}

.photo-navigator:hover {
    color: var(--light-main);
    animation-name: hover-animation;
    animation-duration: 0.25s;
}

@keyframes hover-animation {
    from {color: var(--lighter-accent);}
    to {color: var(--light-main);}
}

@keyframes normal-animation {
    from {color: var(--light-main);}
    to {color: var(--lighter-accent);}
}

.paragraph {
    width: 90vw;
    max-width: 800px;
    font-weight: 200;
    margin: 20px;
}

#trip-description {
    min-height: 30vh;
}

