body {
    margin: 0px;
}

a {
    text-decoration: none;
}

footer {
    min-height: 150px;
    width: 100vw;
    background-color: var(--darkest-main);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 20px;
    color: var(--lighter-accent);
}

#contact-options-container {
    width: 100vw;
    font-size: 1.5em;
    margin: 30px auto;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-options-container a {
    color: var(--ligher-accent);
}

#contact-options-container a:hover {
    color: var(--light-main);
}

#copyright-message {
    font-weight: 200;
}

@media screen and (min-width: 1000px) {
    nav {
        background-color: var(--darkest-main);
        color: var(--lighter-accent);
        height: 100px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    nav a {
        color: var(--lighter-accent);
    }

    #nav-home {
        font-size: 1.5em;
        margin-left: 15px;
        font-weight: 700;
        margin-right: 30px;
    }

    .nav-item {
        margin: 30px;
        font-weight: 200;
        font-size: 1.2em;
    }

    .nav-item:hover {
        color: var(--light-main);
    }

    #mobile-nav-open {
        display: none;
    }

    #mobile-nav-close {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    nav {
        background-color: var(--darkest-main);
        color: var(--ligher-accent);
        height: 70px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        color: var(--lighter-accent);
    }

    #nav-home {
        font-size: 1em;
        font-weight: 700;
        margin-left: 15px;
    }

    #nav-options-container {
        display: none;
    }

    #mobile-nav-open {
        background: none;
        border: none;
        color: var(--lighter-accent);
        font-size: 1.3em;
        margin-right: 15px;
    }

    #nav-options-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--darkest-main);
        display: none;
        flex-direction: column;
        justify-content: top;
        align-items: left;
        opacity: 0.95;
    }

    #mobile-nav-close {
        height: 50px;
        width: 50px;
        margin-left: calc(100% - 70px);
        margin-top: 15px;
        font-size: 1.5em;
        font-weight: 300;
        border: none;
        background: none;
        color: var(--lighter-accent);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin: 20px 40px;
        font-size: 1.6em;
        font-weight: 700;
    }
}
